NEXT_PUBLIC_SUPABASE_URL=https://froaslmuvhirqvwmagln.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_TrGp72_EgM4lyq5TZBrvAA__kC5Uv-t
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4-mini

ADMIN_EMAILS=supanrattanakool@gmail.com,sinsupan49@gmail.com,jnac.co.th@gmail.com

GOOGLE_SHEET_ID=1c3U81eazLDTMQTdDScObASikKgYJf_qmKabn4Lyf1Og
INVENTORY_SHEET=Inventory
FLOWACCOUNT_SHEET=รหัส FlowAccount
PRODUCT_PRICE_GID=0

CRON_SECRET=
